body {
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 80px;
    border-left: 5px solid rgb(98, 73, 207);
}

section {
    display: flex;
    padding-left: 50px;
    margin-bottom: 80px;

}

.part-section {
    width: 60%;
}

.color-name {
    color: orange;

}


.part-section img {
    width: 65%;
    margin-top: -100px;
    margin-left: 150px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

#mission {
    font-size: 80px;
    text-align: center;
}

.mission img {
    width: 30%;
}

.mission-part-one {
    background-color: green;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
}

.mission-part-two {
    background-color: coral;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
}

.mission-part-three {
    background-color: gray;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
}

.part-one img {
    width: 70%;
}

.part-one {
    padding-left: 2%;
    font-size: 25px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 25px;
    color: aliceblue;
}